.container{
  width: 100%;
  margin: 0;
  padding: 0;
}

#table_users{
  overflow: auto;
}
.table_cabec{
    text-align: center;
}
.campo_form{
  width: 300px;
}

#section02{
  margin-top: 40vh;
  margin-bottom: 30px;
  width: 90%;
}
.inf_box{
    text-align: center;
    background-color: rgb(181, 218, 251);
    height: 20vh;
    border-radius: 5px;
}



  /* botao registro user */
.button_user {
    padding: 10px 10px;
    margin-top: 10%;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    color: #0060de;
    z-index: 1;
    background: #fffefe;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .button_user::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgba(255,182,244,1);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button_user:hover {
    color: rgb(128, 58, 208);
   }
   
   .button_user:hover::before {
    width: 100%;
   }

   .button_vacinas-painel {
    padding: 10px 10px;
    margin-top: 10%;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    color: #0060de;
    z-index: 1;
    background: #fffefe;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .button_vacinas-painel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(178, 189, 251);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button_vacinas-painel:hover {
    color: #0060de;
   }
   
   .button_vacinas-painel:hover::before {
    width: 100%;
   }
   .botao_acoes{
    margin-left: 3px;
   }
.icon_info{
  width: 30px;
  height: auto;
  margin-left: 15px;
}
.icon_info:hover{
  cursor: pointer;
}
.align_text{
  text-align: center;
}