body{
    background-image: url("../imgs/backg_main.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#section01{
    margin-top: 15vh;
    margin-bottom: 20vh;
}
.form_main{
    backdrop-filter: blur(20px);
    width: 350px;
    height: 400px;
    white-space: nowrap;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #33cccc;
    box-shadow: 10px 5px 5px black;
}
.titulo_form{
    font-size: 30px;
    position: absolute;
    top: 3%;
    left: 25%;
    color: #5dfaf3;
    text-shadow: black 0.1em 0.1em 0.2em
}
.text_cpf_main{
    font-size: 28px;
    color: white;
    position: absolute;
    top: 70px;
    left:5px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.box_cpf_main{
    font-size: 18px;
    position: absolute;
    top: 110px;
    left:5px;
    width: 250px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
    
}

.text_senha_main{
    position: absolute;
    top: 170px;
    left:5px;
    font-size: 28px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}
.box_senha_main{
    font-size: 18px;
    width: 250px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
    position: absolute;
    top: 210px;
    left:5px;
}


.botao_login {
    position: absolute;
    top: 75%;
    left: 35%;
    width: 110px;
    height: 45px;
    border: 3px solid #33cccc;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}
  
.botao_login:hover {
    background: #33cccc;
    color: white;
    font-size: 1.5em;
}

.acesso_singin{
    position: absolute;
    top: 80%;
    left: 27%;
    color: white;
}
.botao_singin{
    position: absolute;
    top: 87%;
    left: 30%;
    width: 150px;
    height: 27px;
    color: black;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2;
    transition: all 0.3s;
    cursor: pointer;
    background: #33cccc;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}
.botao_singin:hover {
    background: #0066ff;
    color: white;
    font-size: 17px;
}
#comentarios{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}
.coment01{
    font-size: 60px;
    position: absolute;
    top: 30% ;
}
