.container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.inf_box{
    text-align: center;
    background-color: rgb(181, 218, 251);
    width: 90%;
    height: 15%;
    position: absolute;
    top: 82%;
    left: 5%;
    border-radius: 5px;
}
.button_register_pets {
    padding: 10px 10px;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    color: #0060de;
    z-index: 1;
    background: #fffefe;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    transition: all 250ms;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 20%;
    cursor: pointer;
   }

   .button_register_pets::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgba(255,182,244,1);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button_register_pets:hover {
    color: rgb(128, 58, 208);
   }
   
   .button_register_pets:hover::before {
    width: 100%;
   }