#section02{
    margin-top: 70px;
    margin-bottom: 60px;
    width: 90%;
  }
.inf_box{
    text-align: center;
    background-color: rgb(181, 218, 251);
    border-radius: 5px;
    height: 20vh;
}
.button_register_vacinas {
    padding: 10px 10px;
    margin-top: 3%;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    color: #0060de;
    z-index: 1;
    background: #fffefe;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    height: 60px;
   }

   .button_register_vacinas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgba(255,182,244,1);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button_register_vacinas:hover {
    color: rgb(128, 58, 208);
   }
   
   .button_register_vacinas:hover::before {
    width: 100%;
   }