body{
    background: rgb(0,255,183);
    background: -moz-linear-gradient(90deg, rgba(0,255,183,1) 0%, rgba(0,98,215,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,255,183,1) 0%, rgba(0,98,215,1) 100%);
    background: linear-gradient(90deg, rgba(0,255,183,1) 0%, rgba(0,98,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffb7",endColorstr="#0062d7",GradientType=1);
}

#user_menu{
    position: absolute;
    top: 5%;
    right: 1%;
    color: white;
    text-align: center;
}
.user{
    font-size: 25px;
}
.category_a{
    font-size: 15px;
}
#table_users{
  overflow: auto;
}
.table_cabec{
    text-align: center;
}
.inf_box{
    text-align: center;
    background-color: rgb(181, 218, 251);
    width: 90%;
    height: 15%;
    position: absolute;
    top: 82%;
    left: 5%;
    border-radius: 5px;
}

/*botao de logout*/

#botao_logout {
    width: 120px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 8%;
  }
  
  #botao_logout > div,#botao_logout > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  #botao_logout:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  #botao_logout:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #botao_logout .clone > *,#botao_logout .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  #botao_logout .clone > * {
    transform: translateY(60px);
  }
  
  #botao_logout:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #botao_logout:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #botao_logout:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #botao_logout:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #botao_logout:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  #botao_logout:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  #botao_logout svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  #botao_logout:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }

#form_register{
    background-color: #caf3f3;
    position: absolute;
    top: 22%;
    right: 2%;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #33cccc;
    width: 600px;
    height: 550px;
    white-space: nowrap;
}
.titulo_register{
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    background-color: #5dfaf3;
    width: 100%;
    height: 8%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text_nome_register{
    font-size: 23px;
    position: absolute;
    top: 60px;
    left:5px;
    color: black
}
.box_nome_register{
    font-size: 18px;
    position: absolute;
    top: 100px;
    left:5px;
    width: 550px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
}
.text_cpf_register{
    font-size: 23px;
    position: absolute;
    top: 160px;
    left:5px;
    color: black
}
.text_seletor02{
    font-size: 23px;
    position: absolute;
    top: 260px;
    left:5px;
    color: black
}
.seletor02{
    font-size: 18px;
    position: absolute;
    top: 300px;
    left:5px;
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
}
.text_seletor03{
    font-size: 23px;
    position: absolute;
    top: 260px;
    left:300px;
    color: black
}
.seletor03{
    font-size: 18px;
    position: absolute;
    top: 300px;
    left:300px;
    width: 200px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
}
.text_email_register{
    font-size: 23px;
    position: absolute;
    top: 360px;
    left:300px;
    color: black
}
.box_email_register{
    font-size: 18px;
    position: absolute;
    top: 400px;
    left:300px;
    width: 270px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
}
.text_raca{
    font-size: 23px;
    position: absolute;
    top: 360px;
    left:5px;
    color: black
}
.box_raca{
    font-size: 18px;
    position: absolute;
    top: 400px;
    left:5px;
    width: 300px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #33cccc;
    background-color: #bdf8de;
}

.botao_register {
    position: absolute;
    top: 83%;
    left: 35%;
    width: 170px;
    height: 45px;
    border: solid #33cccc;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}
  
.botao_register:hover {
    background: #33cccc;
    color: black;
    font-size: 1.5em;
}
#comentarios{
    color: black;
}
#coment01{
    font-size: 50px;
    position: absolute;
    top: 25% ;
    left: 2%;
    text-align: left;
}
.seletor01{
    position: absolute;
    top: 200px;
    left: 1%;
    width: 500px;
    height: 35px;
    border: 2px solid #33cccc;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #bdf8de;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}
.text_seletor01{
    font-size: 23px;
    position: absolute;
    top: 150px;
    left:1%;
    color: black
}
#animation{
    position: absolute;
    top: 40%;
    left: 10%;
}
.text_email{
    font-size: 17px;
    position: absolute;
    top: 400px;
    right:50px;
    color: black
}
.bt_email{
    position: absolute;
    top: 403px;
    left:360px;
}